<div class="viewer-container">
    <canvas #canvasEl class="viewer"
        (mouseleave)="mouseleave($event)"
        (mousedown)="mousedown($event)"
        (mouseup)="mouseup($event)"
        (mousemove)="mousemove($event)"
        (mousewheel)="mousewheel($event)">
    </canvas>
    <div class="title" *ngIf="title != null">{{title}}</div>
    <div class="command" *ngIf="options.controls.image">
        <div class="btn btn-info" (click)="options.controls.numPage=options.controls.numPage-1" [hidden]="options.controls.totalPage==1"><i class="fa fa-minus"></i>PagePrev</div>
        <div class="btn btn-info" *ngIf="options.controls.totalPage!=1">{{options.controls.numPage}}/{{options.controls.totalPage}}</div>
        <div class="btn btn-info" (click)="options.controls.numPage=options.controls.numPage+1" [hidden]="options.controls.totalPage==1"><i class="fa fa-plus"></i>PageNext</div>				
        <div class="btn btn-info" (click)="resizeTo('page')"><i class="fa fa-file-o"></i>ResizeToPage</div>
        <div class="btn btn-info" (click)="rotate(-1)" [hidden]="options.controls.disableRotate"><i class="fa fa-rotate-left"></i>Rotate-</div>
        <div class="btn btn-info" (click)="rotate(1)" [hidden]="options.controls.disableRotate"><i class="fa fa-rotate-right"></i>Rotate+</div>
        <div class="btn btn-info" (click)="zoom(-1)" [hidden]="options.controls.disableZoom"><i class="fa fa-search-minus"></i>Zoom-</div>
        <div class="btn btn-info" (click)="zoom(1)" [hidden]="options.controls.disableZoom"><i class="fa fa-search-plus"></i>Zoom+</div>
    </div>
    <div class="command" ng-if="options.controls.sound">
        <div class="btn btn-info" (click)="stop()"><i class="fa fa-stop"></i></div>
        <div class="btn btn-info" (click)="play()"><i class="fa fa-play"></i></div>
    </div>
</div>